#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.25rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center; /* centers the cards horizontally */
  gap: 20px; /* horizontal gap between cards */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  padding: 24px; /* optional: adds space around the container */
}

.card-row {
  display: flex;
  justify-content: center; /* centers the row */
  gap: 20px; /* adds horizontal spacing between cards */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  padding: 20px; /* optional: adds space around the row */
}

html, body {
  margin: 0;
  padding: 0;
}

.location {
  margin-top: 35%;
  margin-right: 11%;
  display: flex;
  justify-content: space-between;
}

.page-content {
  padding-top: 0px;  /* adjust to match your top-bar height */
}

.card {
  padding: 2em;
}

.read-me {
  color: #888;
}

.hero {
  /* Background Image! */
  background-image: url("/images/crochet/.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.logo {
  position: absolute;  /* stays pinned to viewport */
  top: 10px;        /* distance from top */
  left: 10px;       /* distance from left */
  z-index: 1000;    /* sits above navbar/content */
}

.logo img {
  height: 165px; /* bigger than before */
  width: auto;  /* keeps aspect ratio */
  cursor: pointer;
}
