#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center; /* centers the cards horizontally */
  gap: 20px; /* horizontal gap between cards */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  padding: 24px; /* optional: adds space around the container */
}

.card-row {
  display: flex;
  justify-content: center; /* centers the row */
  gap: 20px; /* adds horizontal spacing between cards */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  padding: 20px; /* optional: adds space around the row */
}

.location {
  margin-top: 35%;
  margin-right: 11%;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-me {
  color: #888;
}

.hero {
  /* Background Image! */
  background-image: url("/images/crochet/.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}
